# Backend-specific ignores
app/backend/.env
app/backend/__pycache__/
app/backend/venv
app/backend/lib/
app/backend/bin/
app/backend/services/__pycache__/*
app/backend/scripts/__pycache__/*
app/backend/database/__pycache__/*

# Frontend-specific ignores
app/frontend/.gitignore
app/frontend/build/
app/frontend/node_modules

#mac
.DS_Store