.search-bar {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    justify-content: left;
}

.search-bar input {
    width: 80%;
    padding:15px;
    margin-left:15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 1rem;
    outline: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.2s ease;
}

.search-bar input:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-color: #007BFF;
}