# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

#testing
App.test.js
setupTests.js

#virtualenv
/venv

__pycache__/

# Backend-specific ignores
backend/.env
backend/__pycache__/
backend/instance/
backend/test.py
backend/llm_output.txt


# Frontend-specific ignores
frontend/.gitignore
frontend/build/
frontend/node_modules
frontend/src/AuthProvider.js

# Flask static and template folders
static/
templates/

# Config file outside of the project directory
../config.py