
# torch==2.5.1
# pillow==10.0.0
# streamlit==1.30.0
# opencv-python-headless==4.8.0.74

# Summarization Tools
google-generativeai==0.3.0

# Database and Web Scraping
requests==2.31.0
beautifulsoup4==4.12.2

# For Efficient Fuzzy Matching
fuzzywuzzy==0.18.0
# python-Levenshtein==0.21.0